<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="Appender1" fileName="c:/logs/appconfig.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<File name="Appender2" fileName="c:/logs/app_web.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<File name="Appender3" fileName="c:/logs/spring_web.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<File name="Appender4" fileName="c:/logs/spring.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.sharad.psmvc.appconfig" level="debug"	additivity="false">
			<AppenderRef ref="Appender1"/>
		</Logger>
		<Logger name="com.sharad.psmvc.web" level="debug" additivity="false">
			<AppenderRef ref="Appender2"/>
		</Logger>
		<Logger name="org.springframework.web" level="debug" additivity="false">
			<AppenderRef ref="Appender3"/>
		</Logger>
		<Logger name="org.springframework" level="debug" additivity="false">
			<AppenderRef ref="Appender4"/>
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>